assets	export-ignore
.extract-wp-hooks.json	export-ignore
.git*	export-ignore
phpcs.xml.dist	export-ignore
.gitignore	export-ignore
.vscode	export-ignore
comments.json	export-ignore
composer.lock	export-ignore
img	export-ignore
tests	export-ignore
vendor	export-ignore
