#wpadminbar li#wp-admin-bar-my-apps a.ab-item span.ab-icon:before {
	line-height: 24px;
	font-size: 20px;
}
@media screen and (max-width: 782px) {
	#wpadminbar li#wp-admin-bar-my-apps {
		display: block;
	}
	#wpadminbar li#wp-admin-bar-my-apps a.ab-item span.ab-icon:before {
		font-size: 32px;
	}
}

body.my-apps-launcher {
	margin: 0;
	margin-top: 3.5em;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: rgba(52, 152, 219, 0.5);
}

body.my-apps-launcher .app {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2px;
}

body.my-apps-launcher .app-icon {
	width: 100px;
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
}

body.my-apps-launcher .app-icon img, body.my-apps-launcher div.dashicons {
	vertical-align: bottom;
	width: 80px;
	height: 80px;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	background-color: #fff;
}

body.my-apps-launcher .app-title {
	font-size: 16px;
	color: #fff;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	margin: 0;
	margin-top: 5px;
}

body.my-apps-launcher a:any-link {
	text-decoration: none;
}

body.my-apps-launcher div.dashicons {
	font-size: 80px;
	color: #000;
}

.settings_page_my-apps table img, .settings_page_my-apps table div.dashicons {
	vertical-align: middle;
	width: 24px;
	height: 24px;
}

.settings_page_my-apps table thead th.checkbox,
.settings_page_my-apps table thead th.icon,
.settings_page_my-apps table thead th.move {
	width: 40px;
	overflow: hidden;
}

.settings_page_my-apps table thead th.plugin,
.settings_page_my-apps table tbody td.plugin {
	width: 20em;
}

@media screen and (max-width: 782px) {
	.settings_page_my-apps table thead th.plugin,
	.settings_page_my-apps table tbody td.plugin {
		display: none;
	}
}
.settings_page_my-apps table tr button {
	color: #999;
	border: 0;
	background: transparent;
	cursor: pointer;
}

.settings_page_my-apps table tr:first-child button.move-up,
.settings_page_my-apps table tr:last-child button.move-down {
	visibility: hidden;
}


